/* INIT BASE CSS */


a {
	text-decoration: none;
}
ul{margin:0;
	padding:0;
	list-style: none;

}
.clear {
	clear: both;
}

.container {
	width: 900px;
	margin: 50px auto;
	height: 300px
}

/* BLOCK COFFRET */

.block-coffret {
	height: 400px;
	width: 400px;
	background: blue;
	border: 1px solid blue;
	float: left;
	margin: 0 50px 50px 0;	
}

.block-coffret:nth-child(2n+2) {
	margin: 0 0 50px 0;
}

.block-coffret h3 {
	height: 60px;
	width: 170px;
	margin: -45px auto 0;
	text-align: center;
	background: #ffffff;
	padding: 15px;
	border: 1px solid blue;
}

.block-image {
	background: #ffffff;
	height: 200px;
	text-align: center;
}

.block-content{
	text-align: center;
	width: 200px;
	margin: 0 auto;
}

.block-content a{
	background-color: #ffffff;
	margin: 10px auto 0;
	text-align: center;
	border: 1px solid orange;
	color:blue;
	padding: 15px 20px;
	display: inline-block;

}

/* MENU */

.menu {
	
background:blue;
}

.menu > li{
	display:inline-block;
vertical-align:top;
width: 200px;
float: left;
border : 1px solid red;
height: 40px;
margin: 0 -5px 0 0 ;
background:blue;
}


.menu > li > a{
display:block;
color:#000;
text-decoration:none ;
font-weight: bold;
width:inherit;
height:inherit;

text-align: center;
line-height: 40px;




}
.menu  > li :hover > a 
{background-color: #161616);
color:yellow;
	}
/* 2*/
.menu > li > .list{
background-color: #161616;
display:none;	
	
}
.menu  > li:hover > .list{
	display:block;}


	width: inherit;
	height: 40px;
}
.meni > li > .list > li > a 
{
	display:block;
	width:inherit;
	height:40px;
	
	line-height: 40px;
	padding :0 0 0 5px;
	color: #ffffff;
}

